.container {
  background-color: #fff;
  margin-top: 15px;
}

h2 {
  color: #9663dd;
  font-weight: 700;
  margin-top: 15px;
}

.btn {
  margin-top: 10px;
}

label {
  color: #00037c;
}

.text-left {
  color: #a67b00;
}

.card {
  margin-top: 10px;
  border-color: #3696d9;
}

.card-title {
  color: #3696d9;
}
